<ul>
  <% @files.each do |file_name| %>
    <li>
      <a href="/documents/<%= file_name %>"><%= file_name %></a>
      <a href="/documents/<%= file_name %>/edit">Edit</a>
      <a><form class="inline" method="post" action="/documents/<%= file_name %>/destroy">
        <button type="submit">Delete</button>
      </form></a>
    </li>
  <% end %>
</ul>

<p><a href="/documents/new">New Document</a></p>

<% if session[:username] %>
  <form method="post" action="/users/sign_out">
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status"><a href="/users/sign_in">Sign In</a></p>
<% end %>